
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: Roboto, sans-serif;
    margin: 0 0;
    background-color: lightgray;
}
header, main, footer {
    margin: 0 auto;
    background-color: dodgerblue;
}
header {
    color: white;
    text-align: center;
    padding: 10px;
}
main {
    background-color: lightgrey;
    max-width: 1000px;
}
h1 {
    text-align: center;
    font-size: 2.5em;
}
h2 {
    padding: 15px;
    text-align: center;
    margin-top: 10px;
    font-size: 2em;
    margin: 0;
}
#images {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
section {
    text-align: center;
    padding: 8px;
    padding-bottom: 10px;
}
img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border: 4px white solid;
    box-shadow: 2px 2px;
}
nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
}
.menu-btn p {
    margin: 0;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    text-align: center;
    color: white;
    padding: 15px;
    margin-top: 8px;
}



@media screen and (min-width: 700px) {
    #images {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    #images {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
