
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
}
.main-nav {
    list-style: none;
    padding: 10px;
    text-align: right;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}
.main-nav li {
    padding: 8px;
    display: inline;
}
.main-nav a {
    color: #b30059;
    text-decoration: none;
}
#movie-list {
    padding: 0 2rem;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}
.movie {
    max-width: 700px;
    margin: 10px auto;
}
.movie-info {
    justify-items: right;
}
.movie h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.movie p {
    padding-left: 20px;
}
.movie img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}

@media (min-width: 600px) {
    .main-nav {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        justify-content: right;
    }
    #movie-list {
        border-top: 0px;
    }
    .movie {
        display: grid;
        grid-template-columns: .5fr 1fr;
        justify-content: center;
        max-width: 925px;
    }
    .movie-info {
        grid-row: 1/6;
        border-right: 2px solid goldenrod;
        padding-right: 30px;
    }
    .movie h2 {
        text-align: left;
    }
    .movie #desc {
        grid-column: 2;
    }

}